<!DOCTYPE html>
<html>
<head>
    <title>Proxy Recorder</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/codemirror-5.56.0/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/codemirror-5.56.0/addon/merge/merge.css">
    <link rel="stylesheet" type="text/css" href="/static/index.css">

    <script src="/static/vendor/codemirror-5.56.0/lib/codemirror.js"></script>
    <script src="/static/vendor/codemirror-5.56.0/mode/javascript/javascript.js"></script>
    <script src="/static/vendor/diff_match_patch.js"></script>
    <script src="/static/vendor/codemirror-5.56.0/addon/merge/merge.js"></script>
</head>
<body>
    <div id="container">
        <div id="list-container">
            <div id="request-list" class="c-request-list">
            </div>
            <div class="c-request-list-background">
            </div>
        </div>
        <div id="content">
        </div>
    </div>
    <script type="text/javascript" src="/static/index.js"></script>
</body>
</html>
